{
  "$schema": "http://json.schemastore.org/prettierrc",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false, // 未尾逗号
  "vueIndentScriptAndStyle": true,
  "singleQuote": true, // 单引号
  "bracketSpacing": true,
  "trailingComma": "none", // 未尾分号
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "insertPragma": false,
  "requirePragma": false,
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf"
}
